{% extends "network/layout.html" %}

{% block body %}
    <h2>All Posts</h2>
    {% if user.is_authenticated %}
        <div class="new-post post-container">
            New Post
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-primary post-button" type="submit">Post</button>
            </form>
        </div>
    {% endif %}
    {% for post in posts %}
        <div class="post-container">
            {% include "network/post_author_link.html" %}
            {% include "network/post.html" %}
            {% if user.is_authenticated %}
                {% include "network/post_like_button.html" %}
                {% if user == post.author %}
                    {% include "network/post_edit_button.html" %}
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
    
    {% include "network/pagination.html" %}

{% endblock %}