{% extends "network/layout.html" %}

{% block body %}
    <h2>All Posts</h2>
    {% if user.is_authenticated %}
        <div class="new-post post-container">
            New Post
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-primary post-button" type="submit">Post</button>
            </form>
        </div>
    {% endif %}
    {% for post in posts %}
        <div class="post-container">
            <div class="post-author">{{ post.author }}</div>
            <div>Edit</div>
            <div>{{ post.content }}</div>
            <div class="post-timestamp">{{ post.created_at }}</div>
            <div>❤️ <span class="post-like-count">{{ post.likes.count }}</span></div>
        </div>
    {% endfor %}
{% endblock %}