{% extends "network/layout.html" %}

{% block body %}
    <h2>{{ profile_user.username }}</h2>
    {% if button != "" %}
        <div>
            <form action="{% url 'follow_or_unfollow' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="followee_id" value="{{ profile_user.id }}">
                {% if button == "Follow" %}
                    <input type="hidden" name="operation" value="follow">
                {% else %}
                    <input type="hidden" name="operation" value="unfollow">
                {% endif %}
                <button type="submit">
                    {{ button }}
                </button>
            </form>
        </div>
    {% endif %}
    <div class="profile-info">
        <div>
            <b>{{ profile_user.followees.count }}</b> <span class="profile-info-text">Following</span>
            {% if profile_user.followers.count == 1 %}
                <b>1</b> 
                <span class="profile-info-text">Follower</span>
            {% else %}
                <b>{{ profile_user.followers.count }}</b> <span class="profile-info-text">Followers</span>
            {% endif %}
        </div>
    </div>

    {% for post in posts %}
        {% include "network/post.html" %}
    {% endfor %}
    
{% endblock %}