{% extends "soccer/layout.html" %}

{% block body %}
    <h1>Split players into teams</h1>

    <form method="post">
        {% csrf_token %}
        <div class="form-container">
            {{ form }}
            <button id="add_button" type="submit" class="btn btn-success btn-sm">Add player</button>
        </div>
    </form>

    <hr id="upper_boundary">

    <div id="list">
        {% for player in players %}  
            <div class="draggable" data-id="{{ player.id }}" data-x = "{{ player.x }}" data-y = "{{ player.y }}">
                <div class="name">
                    {{ player.name }}
                </div>
                <button class="close">❌</button>
            </div>
        {% endfor %}
    </div>

    <hr id="lower_boundary">

    <div class="teams-container">
        <div class="team" id="team1"></div>
        <div class= "team" id="team2"></div>
    </div>
{% endblock %}