{% extends "soccer/layout.html" %}

{% load static %}

{% block body %}
    <h1>Split players into teams</h1>

    <div class="forms-container">
        <div class="form-container">
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button id="add_button" type="submit" class="btn btn-success btn-sm">Add player</button>
            </form>
        </div>
        <div class="form-container">
            <div class="upload-button-label">
                <b>Add players from screenshot</b>
            </div>
            <form action="{% url 'upload_image' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ image_upload_form }}
                <button id="upload-button" type="submit" class="btn btn-warning btn-sm">Upload</button>
            </form>
        </div>
    </div>
    

    <hr id="upper_boundary">

    <div id="list">
        {% for player in players %}  
            <div class="draggable" data-id="{{ player.id }}" data-x = "{{ player.x }}" data-y = "{{ player.y }}" data-team-id = "{{ player.team_id }}">
                <div class="name">
                    {{ player.name }}
                </div>
                <button class="close">❌</button>
            </div>
        {% endfor %}
    </div>

    <hr id="lower_boundary">

    <div class="teams-container">
        <div class="team" id="team1"></div>
        <div class= "team" id="team2"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'soccer/soccer.js' %}"></script>
{% endblock %}