{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <div class="listings_grid">
        {% for listing in listings %}
            <div class="image-item">
                <img class="image" src="{{ listing.image_url }}" alt="Image of {{ listing.title }}">
            </div>
            <div class="text-item">
                <h4>{{ listing.title }}</h4>
                <h6>
                    <b>
                        Price: 
                        {% if listing.num_bids > 0 %}
                            {{ listing.current_price }}
                        {% else %} 
                            {{ listing.starting_bid }}
                        {% endif %}
                    </b>
                </h6>
                <div>{{ listing.description }}</div>
            </div>
        {% endfor %}

    </div>

{% endblock %}