{% extends "auctions/layout.html" %}

{% block body %}
    {% if not listing.active and user == listing.last_bidder %}
        <h1 style="color: green">Congratulations, you have won the bid!</h1>
    {% endif %}
    <h2>
        Listing: {{ listing.title }}
        {% if not listing.active %}
            <span style="color: red">(Closed)</span>
        {% endif %}
    </h2>
    {% if listing.active and user == listing.owner %}
        <form action="{% url 'close' listing.id %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">
                Close listing
            </button>
        </form>
    {% endif %}

    <div class="image-item">
        <img class="image" src="{{ listing.image_url }}" alt="Image of {{ listing.title }}">
    </div>
    <div class="listing-description">{{ listing.description }}</div>
    <h4 class="listing-price">
        ${{ listing.current_price }} 
        ({% if listing.last_bidder is not none %}
            last bid by {{ listing.last_bidder.username }}
        {% else %}
            No bidder yet
        {% endif %})
    </h4>
    <div class="bid-info">
        {% if user == listing.owner %}
            Your listing has {{ listing.num_bids }} bid(s) so far. 
            {% if not listing.active and listing.last_bidder != none %}
                <b>{{ listing.last_bidder }}</b> won the bid at the price of ${{listing.current_price}}.
            {% endif %}
        {% else %}
            {{ listing.num_bids }} bid(s) so far. 
        {% endif %}
        {% if listing.last_bidder == user %}
            {% if listing.active %}
                Your bid is the current bid.
            {% else %}
                You have won the bid!
            {% endif %}
        {% endif %}
    </div>

    {% if user != listing.owner and user != listing.last_bidder and listing.active %}
        <form action="{% url 'listings' listing.id %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input class="btn btn-success place-bid-button" type="submit" value="Place Bid">
        </form>
    {% endif %}
    <h4 style="margin-top: 20px;">Details</h4>
    <ul>
        <li>Listed by <b>{{ listing.owner.username }}</b> at {{ listing.created_at}} (EST).</li>
        <li>Category: 
            {% if listing.category == "" %}
                No Category Listed
            {% else %}
                {{ listing.category }}
            {% endif %}
        </li>
    </ul>
{% endblock %}