{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ listing.title }}</h2>
    <div class="image-item">
        <img class="image" src="{{ listing.image_url }}" alt="Image of {{ listing.title }}">
    </div>
    <div class="listing-description">{{ listing.description }}</div>
    <h4 class="listing-price">${{ listing.current_price }}</h4>
    <div class="bid-info">
        {{ listing.num_bids }} bid(s) so far. Your bid is the current bid.
    </div>
    <form action="{% url 'listings' listing.id %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-success place-bid-button" type="submit" value="Place Bid">
    </form>
    <h4 style="margin-top: 20px;">Details</h4>
    <ul>
        <li>Listed by: {{ listing.owner.username }}</li>
        <li>Category: 
            {% if listing.category == "" %}
                No Category Listed
            {% else %}
                {{ listing.category }}
            {% endif %}
        </li>
    </ul>
{% endblock %}