body {
    margin-left: 10px;
}

.draggable {
    padding: 10px;
    border-radius: 20px;
    background-color: lightblue;
    position: absolute;
    cursor: move;
}

.form-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.name-input {
    width: 150px;
    margin-right: 5px;
}